<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>The contractor account for <%= @contractor.business_name %> has been removed from the Energy Savings Program application system.</p>

<% if @contractor.deactivated_reason.present? %>
  <p>Reason: <%= @contractor.deactivated_reason %></p>
<% end %>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>
