<h1>Welcome!</h1>
<p>Dear <%= @user.name %>,</p>
<p>
  <strong>Welcome to the Better Homes Energy Savings Program</strong><br><br>
  The Better Homes Energy Savings Program was created to help
  B.C. residents upgrade their homes with energy-efficient improvements.
  Your account has been successfully created. Here are your login details:
</p>

<h2>Account information</h2>
<table style="width: 100%; background: #f2f2f2; border: 1px solid #d9d9d9; margin-bottom: 32px;" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding: 16px;">
      <strong style="font-size: 11px; text-transform: uppercase;"><%= @user.authentication_method_text %> Username</strong><br>
      <%= @user.omniauth_username %>
    </td>
  </tr>
  <tr>
    <td style="padding: 16px; border-top: 1px solid #d9d9d9;">
      To update your information or login preferences please login to the <a href="<%= @root_url %>">Better Homes Energy SavIs
  prompts to submit your application.
</p>

<div class="button-row">
  <a href="<%= FrontendUrlHelper.frontend_url("/login") %>" class="btn-primary" target="_blank">Login to Better Homes Energy Savings Program</a>
</div>

<h2>Need help?</h2>
<p>
If you have questions or difficulties during the application process, please email <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.
</p>
<p>
  Thank you,<br><br>
  Better Homes Energy Savings Program Team
</p>