<p>Hello<% if @user.first_name.present? %> <%= @user.first_name %><% end %>,</p>

<p>You've been invited to join the Energy Savings Program for <%= @contractor_name %>.</p>

<p>Click below to accept your invitation and set up your account:</p>

<div class="button-row">
  <a href="<%= @root_url %>programs/<%= @program_id %>/accept-invitation?invitation_token=<%= @token %>" class="btn-primary" target="_blank">Accept Invitation</a>
</div>

<p>Thank you,<br>
Energy Savings Program Support</p>
