<!DOCTYPE html>
<html lang="en">
<head>
  <title>Energy Savings Program</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
  <meta name="deployment-tag" content="<%= ENV.fetch('DEPLOYMENT_TAG', 'localdev') %>">
  <meta name="deployment-timestamp" content="<%= ENV.fetch('DEPLOYMENT_TIMESTAMP', Time.now.utc.iso8601) %>">
  
  <!-- Open Graph metadata -->
  <meta property="og:title" content="Energy Savings Program">
  <meta property="og:description" content="Save energy, upgrade your home">
  <meta property="og:image" content="<%= FrontendUrlHelper.frontend_url('/images/header-background.png') %>">
  <meta property="og:url" content="<%= FrontendUrlHelper.root_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="BC Energy Savings Program">
  
  <!-- Twitter Card metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Energy Savings Program">
  <meta name="twitter:description" content="Save energy, upgrade your home">
  <meta name="twitter:image" content="<%= FrontendUrlHelper.frontend_url('/images/header-background.png') %>">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_typescript_tag 'application.tsx' %>
  <%= action_cable_meta_tag %>
</head>

<body>
<%= yield %>
</body>
</html>
